<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mathplugin" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<name>mathplugin</name>
	<js-module name="mathplugin" src="www/mathplugin.js">
		<clobbers target="mathplugin" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="mathplugin">
				<param name="android-package" value="cordova.plugin.mathplugin.mathplugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/mathplugin.java" target-dir="src/cordova/plugin/mathplugin/mathplugin" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="mathplugin">
				<param name="ios-package" value="mathplugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/mathplugin.m" />
	</platform>
</plugin>